@model IEnumerable<Patient>

@{
    ViewData["Title"] = "Home Page";
}


@foreach (var patient in Model)
{
    <div>
        <p>Nom: @patient.Lastname</p>
        <p>Prénom: @patient.Firstname</p>
		<p>Date de naissance: @patient.BirthDate.ToString("dd/MM/yyyy")</p>
        <p>Genre: @(patient.Gender == Back.Enums.Gender.Male ? "Homme": "Femme")</p>
		<p>Adresse: @patient.PostalAddress</p>
        <p>Téléphone: @patient.PhoneNumber</p>
    </div>
	<hr />
}

